apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: release-next-timestamp-authority
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: release-next-timestamp-authority
    app.kubernetes.io/part-of: timestamp-authority
  name: release-next-timestamp-authority
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app.kubernetes.io/instance: release-next-timestamp-authority
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: release-next-timestamp-authority
    spec:
      containers:
      - image: image
        imagePullPolicy: Always
        name: container-image
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
status: {}
